@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Work Sans", system-ui, sans-serif;
  }
}

.active-filter {
  border: 1px solid black;
  @apply bg-background-filter-active
}

.carousel {
  @apply inline-flex overflow-x-scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &-item {
    @apply box-content flex flex-none;
    scroll-snap-align: start;
  }
  &-center .carousel-item {
    scroll-snap-align: center;
  }
  &-end .carousel-item {
    scroll-snap-align: end;
  }
}
